/*/teacher/_output/
/*/teacher/_trash/
/*/teacher/*/_output/
/*/teacher/*/_trash/
/*/teacher/*/*/_output/
/*/teacher/*/*/_trash/
/*/teacher/*/*/*/_output/
/*/teacher/*/*/*/_trash/
/09*/teacher/04*/*/
/09*/teacher/02*/PDBQT/*
/09*/teacher/02*/SMILES/*
